# Virtual environment
venv/
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
app/__pycache__/
streamlit_ui/__pycache__/

# Ignore database files
*.sqlite3
instance/

# Ignore logs
logs/
*.log

# Ignore compiled Python files
*.py[cod]

# System-specific files
.DS_Store
Thumbs.db

# Ignore Streamlit temporary files
.streamlit/

# Ignore Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# Ignore uploaded files and user-generated content
uploads/
